@model IEnumerable<PhotoPorto.Models.Photograph>

@{
    ViewBag.Title = "Home";
    ViewBag.Page = "Home";

    int slideCount = 0;
    bool isFirstImage = true;
}
<link href="@Url.Content("~/Content/thumbnail-gallery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet" type="text/css" />

@Scripts.Render("~/bundles/home")

<div id="carousel-example-generic" class="carousel slide top">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        @foreach (var photograph in Model)
        {
            if (photograph.FHD)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@slideCount" @(slideCount == 0 ? "class=\"active\"" : "")></li>
                slideCount++;
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach (var photograph in Model)
        {
            if (photograph.FHD)
            {
                <div class="item@(isFirstImage == true ? " active" : "")">
                    <canvas id="homeCanvas-@photograph.ID" class="img-responsive img-full"></canvas>
                </div>
                isFirstImage = false;
            }
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>


<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                @*<div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            @foreach (var photograph in Model)
                            {
                                <li data-target="#carousel-example-generic" data-slide-to="@slideCount"  @(slideCount == 0 ? "class=\"active\"" : "")></li>
                                slideCount++;
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @foreach (var photograph in Model)
                            {
                               <div class="item@(isFirstImage == true ? " active" : "")">
                                   <canvas id="homeCanvas-@photograph.ID" class="img-responsive img-full"></canvas>
                               </div>
                                isFirstImage = false;
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>*@
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Photo Porto</h1>
                <hr class="tagline-divider">
                @*
                    <h2>
                        <small>
                            version
                            <strong>alpha</strong>
                        </small>
                    </h2>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                @*<hr>
                    <h2 class="intro-text text-center">
                        <a href='@Url.Action("Index", "Galleries")'>
                            <strong>Galleries</strong>
                        </a>
                    </h2>
                    <hr>*@
                @*<img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt="">*@
                <hr class="visible-xs">
                <p>Photographer who likes to dwell in nature and play with long exposure.</p>
                <p>You can view various galleries from <a href='@Url.Action("Index", "Galleries")'><strong>Galleries</strong></a> section.</p>
                <p>Each photograph can be viewer in different resolution. High resolution images are available, incase the default image size is too small for you. Enjoy.</p>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Some of our popular Photographs
                    </h2>
                    <hr>
                    @foreach (var photograph in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href='@Url.Action("Details", "Photographs", new {  id = photograph.ID})'>
                                <img src='~/photograph/@photograph.ID/@(photograph.ID+".jpg")' alt="@photograph.Title" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>*@

</div>
<!-- /.container -->
@*https://github.com/BlackrockDigital/startbootstrap-business-casual*@

<script>
    (function () {
        var imageSrcs = [];
        @foreach (var photograph in Model)
        {
            if (photograph.FHD)
            {
                 @Html.Raw("imageSrcs = [];");
                for (int i = 0; i < photograph.SplitRowCount; i++)
                {
                    for (int j = 0; j < photograph.SplitColumnCount; j++)
                    {
                        @:imageSrcs.push('/photograph/' + '@photograph.ID' + '/' + '@photograph.ID' + '_' + '@photograph.SplitPhotographKey' + '_' + '@j' + '_' + '@i' + '_FHD.jpg');
                    }
                }
                @Html.Raw("prepareHomeCanvas('homeCanvas-" + @photograph.ID + "', imageSrcs,"+ @photograph.SplitColumnCount+ ", "+ @photograph.SplitRowCount + " );");
             }
         }
    })();
</script>


<script language="javascript">
    // to disable right click on canvas
    $('canvas').bind('contextmenu', function (e) {
        return false;
    });
</script>