@model PhotoPorto.Models.Gallery

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.Title <small>@Model.Description</small> <a class="btn btn-primary btn-large" href='@Url.Action("Details", "Galleries", new {  id = Model.ID})'>View</a></h1>
        </div>
        <canvas id="galleryCanvas-@Model.ID"></canvas>
    </div>
</div>

<script>
    (function () {
        @*//imageSrcs array contains relative path of photographs in gallery
        //var imageSrcs = ["photograph/1/1.jpg", "photograph/3/3.jpg", "photograph/4/4.jpg", "photograph/5/5.jpg", "photograph/6/6.jpg"];*@
        var imageSrcs = [];
        @foreach (var photograph in Model.Photographs)
        {
            @:imageSrcs.push('/photograph/' +@photograph.ID +'/' +@photograph.ID +'.jpg');
        }

        prepareGalleryCanvas(@Model.ID, 'galleryCanvas-@Model.ID', imageSrcs);
    })();
</script>

@*
    NOTE: Gallery shared view dependsd on /Scripts/gallery-canvas.js
    Make sure gallery.js is included in page from which view for model Gallery is called.
    Alternatively, you can use @Scripts.Render("~/bundles/gallery"), as defined in BundleConfig.cs
*@