@model PhotoPorto.Models.Photograph

@{
    var PhotographName = Model.ID + ".jpg";
    List<string> PhotographTags = Model.Tags.Split(',').ToList();
}

<div class="row">
    <div class="col-md-2">
        <a href='@Url.Action("Details", "Photographs", new {  id = Model.ID})'>            
            <img src='~/photograph/@Model.ID/@(Model.ID+".jpg")' alt="@Model.Title" />
        </a>        
    </div>
    <div class="col-md-8">
        <h3>@Model.Title</h3>
        @*<p>@Model.Description</p>
        <p>Type: @Model.Type</p>
        <p>Like count: @Html.DisplayFor(model => model.LikeCount)</p>
        <p>Fav count: @Html.DisplayFor(model => model.FavouriteCount)</p>
        <p>FHD: @Html.DisplayFor(model => model.FHD)</p>
        @Html.Partial("_StringCollectionPartial", PhotographTags)*@ 
    </div>
</div>

@*http://jameschambers.com/2014/06/day-9-templates-for-complex-types/*@